@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');


html, body {
  height: 100%;
}

svg {
  padding:20px 0px 20px 100px;
}

body {
  /* display: table-cell; */
  vertical-align: middle;
  margin: auto;
  align-items: center;
  display: flex;
  /* display: table; */
  
  font-family: 'Nunito', sans-serif;
  background-color: #f2fbfc;
  color:#709995;
}

/* .split{
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}
.right{
  right: 0;
  padding: 2em;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;}

.left {
  left: 0;
  width: 45%;
} */

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.text-typing{
  text-align: left;
  font-size: 2.5em;
}
.line3{
  font-size: 0.5em;  
  width: auto; 
  text-align: center;
  background:white;  
  padding:10px 13px;  
  border-radius:50px;
  opacity: 0.8;
  font-family: 'Nunito', sans-serif;
        
}

/* typewriter effect */
.line1 {
  font-weight: bold;
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  border-right: .2em solid transparent;

  animation:typing1 1.5s steps(22,end) forwards,
            blink 0.5s 2 ease-in-out;
}
.line2{
  margin:0px;
  white-space:nowrap;
  overflow:hidden;

  animation:typing2 2.5s steps(22,end) forwards,
            blink 0.5s infinite, wait 1s linear;

}
@keyframes typing1 {
  0% { width:0% }
  100% { width:100% }
}
@keyframes typing2 {
  0% { width:0% }
  40% {width: 0%}
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}
@keyframes wait {
  0%{opacity: 0}
  99%{opacity: 0}
  100%{opacity: 1}
}
 