@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Barlow+Condensed&display=swap');

html, body {
  height: 100%;
}

body {
  /* display: table-cell;
  vertical-align: middle; */
  display: table;
  margin: auto;
  /* font-family: 'Alumni Sans Pinstripe', sans-serif;  margin: 0; */
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #f2fbfc;
  color:#709995;
}
.text-typing{
  display: flex-column; 
  justify-content: center;
  padding-top: 9rem; 
  padding-left:8rem; 
  padding-right:6rem;
  font-size: 2.5em;
}
.line1 {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  border-right: .2em solid transparent;

  animation:typing1 1.5s steps(22,end) forwards,
            blink 0.5s 2 ease-in-out;
}
.line2{
  margin:0px;
  white-space:nowrap;
  overflow:hidden;

  animation:typing2 2.5s steps(22,end) forwards,
            blink 0.5s infinite, wait 1s linear;

}
@keyframes typing1 {
  0% { width:0% }
  100% { width:100% }
}
@keyframes typing2 {
  0% { width:0% }
  40% {width: 0%}
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}
@keyframes wait {
  0%{opacity: 0}
  99%{opacity: 0}
  100%{opacity: 1}
}
 
/* multiline typewriter */
.type {
  /* font-family: 'Barlow Condensed', sans-serif; */

  color:#0000;
  /* background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0; */
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .7s infinite steps(1),   
   t calc(var(--n)*.3s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}