@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
html, body {
  height: 100%;
}

/* html {
  display: table;
  margin: auto;
} */


body {
  /* display: table-cell;
  vertical-align: middle; */
  display: table;
  margin: auto;
  font-family: 'Alumni Sans Pinstripe', sans-serif;  margin: 0;
  background-color: #f2fbfc;
  color:#709995;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: #ffffff;
  }
} */